<div class="custom-region">
<p><b>{{ 'Country: ' }}</b>{{ items.country }}</p>
<p><b>{{ 'City:' }}</b> {{ items.city }}</p>
<p><b>{{ 'Region:' }}</b> {{ items.region }}</p>
<p><b>{{ 'Current Time:' }}</b> {{ items.current_time }}</p>
</div>